/* Backgraund de todas as telas*/

body {
    background-color: #f2fbff;
}

/*Tela Registrar e Login*/

.criarConta,
.completeCampo,
.cadastro {
    text-align: center;
}

.completeCampo {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.botaoRegistrar,
.botaoEntrar {
    margin-top: 1rem;
    margin-left: 0.3rem;
}

.imagemLogin {
    max-width: 15rem;
    max-height: 15rem;
    margin: auto;
}

.imagemRegistro {
    margin: auto;
    width: 13rem;
    height: 13rem;
}

/* Menu */

.navbar {
    border-bottom: solid;
    border-color: rgb(243, 200, 183);
    background-color: #e7f4fa;
}

/* cadastrar pet e usuário */

.cadastrarPet,
.completePet,
.cadastrarTipo,
.cadastrarVacina,
.cadastrarUser,
.completeUser,
.editNoticia {
    text-align: center;
}

.cadastrarPet {
    font-size: 2rem;
}

.botaoCadastrar,
.botaoRegistrar,
.botaoEntrar,
.botaoEditEndereco {
    background-color: #565F99;
    color: rgb(247, 247, 237);
}

.campoDigitar,
.botaoCadastrar,
.botaoEditEndereco {
    margin: auto;
    width: 30rem;
}

.form-control,
.botaoCadastrar,
.botaoEditEndereco {
    border-radius: 10px;
}

.campoEspecial {
    display: inline;
    width: 0.5rem;
}

.editEndereco {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

/*Minha conta*/

.minhaConta {
    text-align: center;
}

.minhaConta img {

    border: 0.05rem solid #709CB2;
    border-radius: 15px;
}

.minhaConta span {

    font-size: 2rem;

}

.minhaContaEndereco {
    text-align: left;
    margin-left: 50px;

}

.minhaContaPrincipal {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.enderecoDiv {
    text-align: center;
}

.enderecoConta {
    font-weight: bold;
}

.CriarEndereco {
    text-align: center;
    margin-top: 1rem;
}

/* Meus Pets */

.cssBotao {
    max-width: 65rem;
    width: 100%;
    margin: 2rem auto;
    padding: 5rem;
    text-align: center;
    background: #fff;
    border: 0.5rem solid #34495e;
}


.botaoPet {
    width: 14rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;

}

.quadroPet {
    border: 0.1rem solid #709CB2;
    border-radius: 15px;
    margin-right: 2rem;
    background-color: #eaf6fb;
    text-align: center;
    margin-top: 15px;
    width: 18rem;

}

.logoimg {
    width: 75px;
    height: 75px;
}

.imgpet {
    width: 10rem;
    height: 10rem;
    border: 0.05rem solid #709CB2;
    border-radius: 15px;
    margin-top: 8px;
}

.cssquadro {
    margin: 0;

}

.modal-body {
    text-align: center;

}

/* QrCode */

.telaQrCode {
    text-align: center;
    margin: auto;
    background-color: #f2fbff;

}




/* carrosel de imagens */
.carousel-inner div {
    padding-left: 10%;
    padding-right: 10%;

}

.carousel-inner img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.2em;

}

.carousel-indicators li {
    background-color: rgb(10, 10, 248);
    width: 2em;
    height: 0.3em;
}

.imagemHome {
    width: 30rem;
    height: 30rem;
    text-align: center;
}

.registreLogin:hover {
    color: #f39a76;

}

.paginacao {

    text-align: center;
    margin-right: 3.5rem;
}

.semPet {

    text-align: center;

}

.semPet img {
    width: 15rem;
    height: 15rem;
}




.hoverDoMenu li {
    float: left;
    display: inline-block;
    padding: 10px;
    position: relative
}



.hoverDoMenu a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #F3C8B7;
    transition: width .4s ease;
}

.hoverDoMenu a:hover:after {
    width: 100%;
    left: 0;
    background: #F3C8B7;
}

.menuCanto {
    text-align: left;
    display: flex;
}



.divFooter {
    background-color: #E7F4FA;
     
    text-align: center;
    width: 100%;
    border-top: 0.15rem solid rgb(243, 200, 183);
    margin-bottom: 5px;
    bottom: 0;
    left: 0;
    height: 40px;

}

.divFooter span {
    margin-top: 8px;
    text-align: center;
    font-style: italic;
    font-size: 0.7rem;
}

.content {
    min-height: calc(100vh - 70px);
  }
  
  .mainNoticias{ 
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .sectionNoticias{ 
      height: 100%;
  }
  .imgCardNoticias {
    max-width: 100%;
    max-height: 70%;
}
.titleAdmin{ 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.texto {
    text-align: center;
 }
.texto img{
    
        width: 15rem;
        height: 15rem;
    
    
}
.textoSobre{
    text-align: justify;
    max-width: 50rem;
    

}
.imgRodapeSobre{ 
    border: 0.02rem solid #709CB2;
    
}
.botaoCarrosel:hover{
    
    box-shadow: #34495e;
    color: #565F99;
    

}

.mainHome{ 
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .divCarrosel{ 
      text-align: center;
  }

/* carrosel de imagens */
footer {
    width: 100%;
    height: auto;
    margin-top: auto;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}