/* Backgraund de todas as telas*/

body{
    background-color: #f2fbff;
}

/* Menu */

.navbar {
    background-color: #502d732b;
}

/* cadastrar pet e usuário */

.cadastrarPet, .completePet, .cadastrarTipo, .cadastrarVacina, .cadastrarUser, .completeUser, .minhaConta{
    text-align: center;
}

.botaoCadastrar {
    background-color: #565F99;
    color: beige;
}

.campoDigitar, .botaoCadastrar {
    margin: auto;
    width: 30rem;
}
.form-control, .botaoCadastrar {
    border-radius: 10px;
}

.campoEspecial {
    display: inline;
    width: 0.5rem;
}

/* Meus Pets */

.cssBotao{
    max-width: 65rem;
    width: 100%;
    margin: 2rem auto;
    padding: 5rem;
    text-align: center;
    background: #fff;
    border: 0.5rem solid #34495e;
}


.botaoPet {
    width: 14rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;

}

.quadroPet{
    border: 0.1rem solid #709CB2;
    border-radius: 15px;
    margin-right: 2rem;
    background-color: #eaf6fb;
    text-align: center;
    margin-top: 15px;
    

}

.logoimg{ 
    width: 75px;
    height: 75px;
}

.imgpet{
    width: 200px;
    height: 200px; 
    border: 0.05rem solid #709CB2;
    border-radius: 15px;
    margin-top: 8px;
}

.cssquadro{ 
    margin: 0;
   
}
